*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
}

footer{
    margin-top: auto;
    background-color: lightslategray;
    display: flex;
    color: white;

    height: 8rem;
    flex: 1;

    align-items: center;
    justify-content: center;
}